<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pySender</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Python CV Sender
      </h1>
      <p class="subtitle">
        Authentication status: {% if auth_status == "True" %} <span style="color: green;">{{ auth_status }}</span> {% else %} False <a href="{{ url_for('start_auth')}}">(click here to authenticate)</a>  {% endif %}
      </p>
      <form id="sendForm" method="POST">
        <div class="field">
          <label class="label">Recipient Email</label>
          <div class="control">
              <input class="input" type="email" name="email" id="email" placeholder="Enter Email">
          </div>
      </div>
          <div class="field">
              <label class="label">Company Name</label>
              <div class="control">
                  <input class="input" type="text" name="company" id="company" placeholder="Enter Company Name">
              </div>
          </div>
          <div class="field">
              <label class="label">Position</label>
              <div class="control">
                  <input class="input" type="text" name="position" id="position" placeholder="Enter Position">
              </div>
          </div>
          <div class="field">
              <div class="control">
                <label class="checkbox">
                  <input type="checkbox" id="checker" onclick="toggleTextArea()">
                  Attach additional message
                </label>
              </div>
          </div>
          <div class="field">
              <label class="label">Additional Message</label>
              <div class="control">
                  <textarea class="textarea" name="additional-msg" placeholder="Textarea" id="textInput" disabled></textarea>
              </div>
          </div>
      </form>
      <br>
      <div class="field is-grouped">
        <div class="control">
          <button id="btn" class="button is-link">Send Email</button>
        </div>
      <div class="modal" id="myModal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Email Preview</p>
            <button class="delete" aria-label="close" data-bulma-modal="close"></button>
          </header>
          <section id="modal-data" class="modal-card-body"></section>
          <footer class="modal-card-foot">
            <button type="submit" form="sendForm" class="button is-success">Send</button>
            <button class="button" data-bulma-modal="close">Cancel</button>
          </footer>
        </div>
      </div>
    </div>
  </section>
  <script type=text/javascript src="{{
    url_for('static', filename='script.js') }}"></script>
  </body>
</html>
