<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>pySender</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script type=text/javascript src="{{
        url_for('static', filename='script.js') }}"></script>

  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Python CV Sender
      </h1>
      <p class="subtitle">
        Authentication status:
      </p>
      <div class="field">
        <label class="label">Recieptieeasd</label>
        <div class="control">
            <input class="input" type="email" placeholder="Text input">
        </div>
    </div>
        <div class="field">
            <label class="label">Company Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input">
            </div>
        </div>
        <div class="field">
            <label class="label">Position</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input">
            </div>
        </div>
        <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" id="checker">
                Attach additional message
              </label>
            </div>
        </div>
        <div class="field">
            <label class="label">Additional Message</label>
            <div class="control">
                <textarea class="textarea" placeholder="Textarea" id="textInput"></textarea>
            </div>
        </div>
    </div>
  </section>
  </body>
</html>
